/* Sticky footer styles
-------------------------------------------------- */

html {
  background-color: #161716;
  min-height: 100%;
  max-width: 700px;
  margin: auto
}
body {
  line-height: 1.5em;
  max-width: 700px;
  color: #c7c7c7;
  background-color: #161716;
}
div {
background-color: #161716;
color: #c7c7c7
}
   p {
    margin: 1.5em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-color: #c7c7c7;
    text-align: left;
    padding-right; 10px;
    padding-left: 30px;
    }
a:link {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: orange;
}

a:hover {
 color: orange;
  text-decoration: underline;

}
.navbar a:hover {
  text-decoration: none;
}

h1 {
        border-bottom: 1px solid var(--divider-color);
        padding-top: 50px;
        max-width: 700px;
          margin-left: auto;
        margin-right: auto;
        font-family: 'Amethysta';
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        padding-bottom: .5rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Amethysta';
        text-align: center;
    }

    hr {
        margin: 75px 0 75px 0;
        max-width: 20%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-color: red !important;
    }


.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  color: #673599;
  background-color: #161716;
  text-align: center;
}

.footer .container-fluid {
  background-color: #161716;
}

/* dropdown menu tweaks */

.dropdown-menu {
  background-color: #f5eff7;
  border: none;
  max-width: 100vw;
  overflow-x: hidden;
}

.dropdown-item {
  padding: 0.5rem;
  color: inherit;
}