/* Sticky footer styles
-------------------------------------------------- */

html {
  background-color: #161716;
  min-height: 100%;
  max-width: 700px;
  margin: auto
}
body {
  line-height: 1.5em;
  max-width: 700px;
  color: #c7c7c7;
  background-color: #161716;
}
div {
background-color: #161716;
color: #c7c7c7
}
   p {
    margin: 1.5em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-color: #c7c7c7;
    text-align: left;
    padding-right; 10px;
    padding-left: 30px;
    }
a:link {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: orange;
}

a:hover {
 color: orange;
  text-decoration: underline;

}
.navbar a:hover {
  text-decoration: none;
}

.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  color: #673599;
  background-color: #f5eff7;
  text-align: center;
}

.footer .container-fluid {
  background-color: #f5eff7;
  background: linear-gradient(135deg, #f1e7f7, #ba99cf);
}

/* dropdown menu tweaks */

.dropdown-menu {
  background-color: #f5eff7;
  border: none;
  max-width: 100vw;
  overflow-x: hidden;
}

.dropdown-item {
  padding: 0.5rem;
  color: inherit;
}