<div class="sidebar">
    <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
        <a href="https://www.davidralphlewis.co.uk">Main Site</a>
        <a href="https://www.davidralphlewis.co.uk/about">About Me</a>
        <a href="https://www.davidralphlewis.co.uk/blog">Blog</a>
        <a href="https://www.davidralphlewis.co.uk/projects">Projects</a>
        <a class="internal-link" href="https://notes.davidralphlewis.co.uk">Notes</a>
        <a href="https://davidralphlewis.bigcartel.com/">Shop</a>
      </div>
